*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
}
.logocontainer{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logocontainer img{
    width: 65%;
    height: 50%;
    cursor: pointer;
}
.icons-container{
    width: 50%;
    height: 100%;
}
.icons-containerss{
    display: flex;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes identifier {
    
}
.icons-of-navbar{
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.microsorft{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.microsorft p{
    cursor: pointer;
}
.icons-of-navbar p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
.all-microsoft{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-microsoft p{
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}
.icons{
    width: 10%;
    height: 100%;
    display: flex;
}
.search-container,.store-container,.account-contrtainer{
    width: 33.33%;
    height: 100%;
    display: flex;
    font-size: 15px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}
.search-container i,.store-container i,.account-contrtainer i{
    cursor: pointer;
}
.first-container{
    width: 100%;
    height: 570px;
    background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-M365-Icon-Bounce-Word-Merch:VP4-1399x600');
}
.left-container-of-first-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container-of-left-container-of-first-container{
    width: 75%;
    height: 35%;    
}
.heading-of-main-container-of-left-container-of-first-container{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.heading-of-main-container-of-left-container-of-first-container h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.paragraoh-of-main-container-of-left-container-of-first-container{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}
.paragraoh-of-main-container-of-left-container-of-first-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: lighter;
}
.container-of-buttons-of-first-container{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}
.button{
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
}
.button button{
    width: 100%;
    height: 80%;
    background: #0067b8;
    color: white;
    font-size: 15px;
    border: none;
}
.button button:hover{
    background: #0062ad;
}
.paragraph-of-first-container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
.paragraph-of-first-container p{
    padding-left: 20px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.paragraph-of-first-container p:hover{
    text-decoration: underline;
}
.second-container{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container-of-second-container{
    width: 95%;
    height: 100%;
    margin-top: 30px;
    display: flex;
}
.first-container-of-second-container{
    width: 23%;
    height: 100%;
}
.second-container-of-second-container,.third-container-of-second-container,.forth-container-of-second-container{
    width: 23%;
    height: 100%;
}
.first-container-of-second-container img,.second-container-of-second-container img,.third-container-of-second-container img,.forth-container-of-second-container img{
    width: 95%;
    padding-top: 15px;
    padding-left: 15px;
}
.first-container-of-second-container h1,.second-container-of-second-container h1,.third-container-of-second-container h1,.forth-container-of-second-container h1{
    width: 100%;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.first-container-of-second-container p,.second-container-of-second-container p,.third-container-of-second-container p,.forth-container-of-second-container p{
    padding-left: 15px;
    width: 100%;
    letter-spacing: 1px;
    padding-top: 15px;
    margin: auto;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
.buttons-of-container-of-second-container{
    width: 100%;
    height: 20%;
    display: flex;
}
.container-of-learn-more{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-of-learn-more p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    cursor: pointer;
    color: rgb(28, 28, 255);
}
.container-of-arrow{
    width: 10%;
    padding-top: 12px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-of-arrow i{
    transition: 0.5s;
    cursor: pointer;
}
.container-of-arrow i:hover{
    transform: translateX(5px);
}
.third-container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container-of-third-container{
    width: 90%;
    height: 85%;
    background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP4-1260x600');
}